# =========================
# Build artifacts
# =========================
*.o

# =========================
# Executables / test files
# =========================
tester
p_demo
SerialeDemo

# =========================
# Dataset / package files
# =========================

# =========================
# Temporary / duplicate files
# =========================
.Rhistory
result_data/risultati_p3s_09_30_3050.csv
